*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #9ff;
}

.title{
    text-align: center;
    background-color: #0cc;
    color: white;
    padding: 10px;
}

.title p {
    margin: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f66;
    height: 310px;
    width: 70%;
    margin: auto;
    border-style:ridge;
    border-width: 5px;

    @media screen and (max-width: 400px) {
        height: 490px;
    }
}
.container input{
    height: 30px;
    width: 200px;
    border: 1.5px solid black;
    outline: none;
    margin-top: 10px;
    text-align: center;
    border: 3px solid #099;
}

.container button{
    height: 30px;
    width: 100px;
    background-color: #900;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight:bold;
}

.container button:hover{
    background-color: #0cc;
    color: black;
    border-color: #f66;
    border: 2px solid black;
}

.result {
    margin-top: 10px;
    display: flex;
}

.score{
    display: flex;
    margin-top: 10px;
}

.credits{
    text-align: center;
    justify-content: center;
    margin: 2px;
    padding: 10px;
    background-color: aqua;
}

a{
    text-decoration: none;
    color: #f33;
}

